@font-face {
    font-family: stingerWide;
    src: url('../fonts/stinger-wide-trial.regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: stingerWide;
}

html,
body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-container {
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.count-list li::before {
    counter-increment: count;
    content: counter(count) "0";
    position: absolute;
    right: 18px;
    top: -21px;
    font-size: 24px;
    color: #1B4965;
    padding: 0 4px;
    background-color: white;
}

.count-list li:nth-last-child(1) {
    border-bottom: 1px solid #1B4965;
}